# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store

# Large data
data/raw/
